$nav-bg-color: #ff0060;
$nav-bg-highlight-color: #CC0060;

/***********
 * General *
 ***********/

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0;
}

body > .header .title,
body > .content {
    padding: 2rem 1rem 2rem 1rem;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #555;
}


body > .content {
    max-width: 960px;
    margin: 0 auto;
    color: #333;
}

body > .footer {
    background: #2c3e50;
    padding: 1rem;
}

body > .footer p {
    max-width: 960px;
    margin: 0 auto;
    color: #f7f7f7;
}

body > .footer {
	a:link,
	a:visited {
		color: #CCC;
	}
}

body iframe {
	width: 100%;
}

/********
 * Logo *
 ********/

body > .header {
    background: #2c3e50;
}

body > .header .title {
    margin: 0 auto 0 auto;
    max-width: 960px;
}

body > .header .title a {
    color: #dfdfdf;
}

body > .header .title small {
    color: #dfdfdf;
    font-size: .75rem;
    display: block;
}

/******************
 * Navigation bar *
 ******************/

.nav {
	width: 100%;
	font-family: monospace;
	background: $nav-bg-color;
}

.nav a {
	text-decoration: none;
}

.nav .list {
	list-style: none;
	margin: 0 auto;
	padding-left: 0;
	max-width: 960px;
	font-size: 0;
}

.nav .list .item {
	display: block;
	color: #fff;
	background: $nav-bg-color;
	display: inline-block;
	position: relative;
	text-decoration: none;
	min-width: 7.5rem;
	font-size: 1rem;
	transition-duration: 0.5s;
}

.nav .list .item:hover,
.nav .list .item:focus-within {
	background: $nav-bg-highlight-color;
	cursor: pointer;
}

.nav .list .item a {
	display: block;
	height: 100%;
	padding: 1rem;
	color: #fff;
}

.nav .list .item .dropdown {
	background: $nav-bg-color;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all 0.5s ease;
	left: 0;
	display: none;
}

.nav .list .item:hover > .dropdown,
.nav .list .item:focus-within > .dropdown,
.nav .list .item .dropdown:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

.nav .list .item .dropdown .list .item {
	clear: both;
	width: 100%;
}

/*************
 * Section *
 *************/

/* Tutorials */

.section-tutorials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-tutorials.section .header {
    margin: 1rem;
    padding: 2rem;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 8px #ddd;
    transition: box-shadow .2s ease;
}

.section-tutorials.section .header:hover {
    box-shadow: 0 0 8px #ccc;
}

.section-tutorials .page .header .poster {
    display: table-cell;
    width: 240px;
    height: 135px;
    vertical-align: middle;
    text-align: center;
    background: #136993;
    color: white;
    font-weight: bold;
}

/* Tutorials: Lang */

.section-tutorials-lang {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
}

.section-tutorials-lang.section .header {
    margin: 1rem;
    padding: 2rem;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 8px #ddd;
    transition: box-shadow .2s ease;
}

.section-tutorials-lang.section .header:hover {
    box-shadow: 0 0 8px #ccc;
}

.section-tutorials-lang .page .header .poster {
    display: table-cell;
    width: 240px;
    height: 135px;
    vertical-align: middle;
    text-align: center;
    background: #136993;
    color: white;
    font-weight: bold;
}

/* Tutorials: Lang: Project */

.section-tutorials-lang-project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.section-tutorials-lang-project.section .header {
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 8px #ddd;
    transition: box-shadow .2s ease;
}

.section-tutorials-lang-project.section .header:hover {
    box-shadow: 0 0 8px #ccc;
}

.section-tutorials-lang-project .page .header .poster-container .poster {
    display: table-cell;
    vertical-align: middle;
    background: #EFF0FF;
}

.section-tutorials-lang-project .page .header .poster {
    width: 240px;
    height: 160px;
    border: 1px solid #555;
    text-align: center;
    color: #111;
}

/* Resources */

.section-resources {
	line-height: 1.5rem;
}

.section-resources.section .header {
    margin: 1rem;
    padding: 2rem;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 8px #ddd;
    transition: box-shadow .2s ease;
}

.section-resources.section .header:hover {
    box-shadow: 0 0 8px #ccc;
}

.section-resources .page .header .poster {
    width: 240px;
    border: 1px solid #555;
}

/********
 * Post *
 ********/

.post .header .date {
    color: #bbb;
    font-weight: bold;
    font-size: .75rem;
    text-transform: uppercase;
}

.post .header .title {
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
}

.post .header .title a {
    color: #2c3e50;
}

.post .content {
    line-height: 1.75rem;
}

.post .content h2 {
    margin-top: 3rem;
}

.post .content a {
    font-weight: bold;
}

.post .content pre {
    line-height: 1.25rem;
    padding: 1rem;
    overflow-x: auto;
    font-family: 'SF Mono', monospace;
}
