$nav-bg-color: #ff0060;
$nav-bg-highlight-color: #CC0060;
$fonts: "Open Sans", Helvetica, Arial, sans-serif;

/***********
 * General *
 ***********/

body {
    font-family: $fonts;
    margin: 0;

    iframe {
        width: 100%;
    }
}

a {
    color: #555;
    text-decoration: none;
}

/**********
 * Header *
 **********/

.header {
    background: #2c3e50;

    .header__title {
        margin: 0 auto 0 auto;
        max-width: 960px;
        padding: 2rem 1rem 2rem 1rem;
    }

    .header__link {
        color: #dfdfdf;
    }
}

/******************
 * Navigation bar *
 ******************/

.nav {
	width: 100%;
	font-family: $fonts;
    background: $nav-bg-color;

    .nav__link {
        text-decoration: none;
    }

    .nav__list {
        list-style: none;
        margin: 0 auto;
        padding-left: 0;
        max-width: 960px;
        font-size: 0;

        .nav__item {
            display: block;
            color: #fff;
            background: $nav-bg-color;
            display: inline-block;
            position: relative;
            text-decoration: none;
            min-width: 7.5rem;
            font-size: 1rem;
            transition-duration: 0.5s;
        }

        .nav__item:hover,
        .nav__item:focus-within {
            background: $nav-bg-highlight-color;
            cursor: pointer;
        }

        .nav__item a {
            display: block;
            height: 100%;
            padding: 1rem;
            color: #fff;
        }

        .nav__item .dropdown {
            background: $nav-bg-color;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            transition: all 0.5s ease;
            left: 0;
            display: none;
        }

        .nav__item:hover > .dropdown,
        .nav__item:focus-within > .dropdown,
        .nav__item .dropdown:hover {
            visibility: visible;
            opacity: 1;
            display: block;
        }

        .nav__item .dropdown .list .item {
            clear: both;
            width: 100%;
        }
    }

}

/***********
 * Content *
 ***********/

.content {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 1rem 2rem 1rem;
    color: #333;
}

/**********************
 * Section: Tutorials *
 **********************/

.section-tutorials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .subsection__header {
        margin: 1rem;
        padding: 2rem;
        background: #fff;
        text-align: center;
        box-shadow: 0 0 8px #ddd;
        transition: box-shadow .2s ease;
    }

    .subsection__header:hover {
        box-shadow: 0 0 8px #ccc;
    }
}

/****************************
 * Section: Tutorials: Lang *
 ****************************/

.section-tutorials-lang {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;

    .page__poster {
        display: table-cell;
        width: 240px;
        height: 135px;
        vertical-align: middle;
        text-align: center;
        background: #136993;
        color: white;
        font-weight: bold;
    }
}

/*************************************
 * Section: Tutorials: Lang: Project *
 *************************************/

.section-tutorials-lang-project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;

    .page__poster {
        display: table-cell;
        color: #111;
        background: #EFF0FF;
        width: 240px;
        height: 160px;
        border: 1px solid #555;
        text-align: center;
        vertical-align: middle;
    }
}

/**********************
 * Section: Resources *
 **********************/

.section-resources {
	line-height: 1.5rem;
}

/********
 * Post *
 ********/

.post__date {
    color: #bbb;
    font-weight: bold;
    font-size: .75rem;
    text-transform: uppercase;
}

.post__title {
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
}

.post__title a {
    color: #2c3e50;
}

.post__content {
    line-height: 1.75rem;
}

.post__content h2 {
    margin-top: 3rem;
}

.post__content a {
    font-weight: bold;
}

.post__content pre {
    line-height: 1.25rem;
    padding: 1rem;
    overflow-x: auto;
    font-family: 'SF Mono', monospace;
}

/**********
 * Footer *
 **********/

.footer {
    background: #2c3e50;
    padding: 1rem;

    .footer__content {
        max-width: 960px;
        margin: 0 auto;
        color: #f7f7f7;
    }

	.footer__link:link,
	.footer__link:visited {
		color: #CCC;
	}
}