<!DOCTYPE html>
<html>
<head>
    <title>SDL2 companion website</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src='/js/index.js'></script>
</head>
<body>
    <div class="header">
        <h1 class="header__title">
            <a class="header__link" href="/">SDL2</a>
        </h1>
    </div>
    <nav class="nav" role="navigation" aria-label="main">
        <ul class="nav__list">
            <li class="nav__item"><a class="link" href="/">Home</a></li>
            <li class="nav__item"><a class="link" href="/tutorials">Tutorials</a>
		    <ul class="nav__list dropdown">
			    <li class="nav__item"><a class="link" href="/tutorials/go">Go</a></li>
		    </ul>
	    </li>
            <li class="nav__item"><a class="link" href="/resources">Resources</a>
        </ul>
    </nav>
    <div class="content">
    {% block content %}{% endblock content %}
    </div>
    <div class="footer">
        <p class="footer__content">This website is powered by <a class="footer__link" href="https://getzola.org">Zola</a> and <a href="https://netlify.com">Netlify</a></p>
    </div>
</body>
</html>
