<!DOCTYPE html>
<html>
<head>
    <title>SDL2 companion website</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src='/js/index.js'></script>
</head>
<body>
    <div class="header">
        <h1 class="title">
            <a href="/">SDL2</a>
            <small class="subtitle">Website is still under development. Final content and looks might change drastically!</small>
        </h1>
    </div>
    <nav class="nav" role="navigation" aria-label="main">
        <ul class="list">
            <li class="item"><a class="link" href="/">Home</a></li>
            <li class="item"><a class="link" href="/tutorials">Tutorials</a>
		    <ul class="list dropdown">
			    <li class="item"><a class="link" href="/tutorials/go">Go</a></li>
		    </ul>
	    </li>
        </ul>
    </nav>
    <div class="content">
    {% block content %}{% endblock content %}
    </div>
    <div class="footer">
        <p>This website is powered by <a href="https://getzola.org">Zola</a></p>
    </div>
</body>
</html>
