{% extends "base.html" %} 
{% block content %}
    {% for subsection_md in section.subsections %}
        <div class="section-tutorials section">
            {% set subsection = get_section(path=subsection_md) %}
            <a href="{{ subsection.permalink }}">
                <div class="subsection__header">
                    <img class="subsection__poster" src="/images/{{ section.path }}{{ subsection.title }}.svg">
                    <p class="subsection__title">{{ subsection.title }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock content %}
