{% extends "base.html" %} 
{% block content %}
    <div class="section-tutorials-lang-project">
    {% for page in section.pages %}
        <div class="page">
            <div class="page__header">
                <div class="page__poster-container">
                    <div class="page__poster-container-inner">
                        <a href="{{ page.permalink }}">
                            <p class="page__poster" class="title">{{ page.title }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}
