{% extends "base.html" %} 
{% block content %}
    {% for page in section.pages %}
        <div class="section">
            <div class="header">
                <div class="date">{{ page.date | date(format="%B %d, %Y") }}</div>
                <div class="title">
                    <a href="{{ page.permalink }}">{{ page.title }}</a>
                </div>
            </div>
            <div class="content">{{ page.content | truncate(length=500) | safe }}</div>
            <div class="read-more">
                <a href="{{ page.permalink }}">Read more</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
